<app-header></app-header>
<div class="container sidedar-page">
    <div class="row">    
        <div id="admin-sidebar" class="col-md-4 col-sm-4 col-lg-4 p-x-0 p-y-3 admin-sidebar">
            <div class="text-center top-ul">
              <h5 class="mb-3"><strong>filter / search post</strong></h5>
              <input (keyup)="searchPost($event.target.value)" type='text' class="input">
              
            </div>
            <h4 class="titleSub">post list</h4>
            <ul class="sidenav list_sbar admin-sidenav list-unstyled">
                <li (click)='singlePost(post,i)' *ngFor='let post of posts ; let i=index'>{{post.title}}</li>
                <li *ngIf='posts==""'><h5>No Records Found</h5></li>               
            </ul>
        </div> 
        <div id="admin-main-control" class="col-md-8 col-sm-8 col-lg-8 p-x-3 p-y-1">
            <div class="col-md-6">
               <h3>{{message}}</h3> 
            </div>
            <div class="col-md-6">
                <button (click)='editPostStatus=true;createPost()'  class="btn btn-primary">Create</button>
                <button (click)='editPostStatus=true;editPost()' *ngIf='post' class="btn btn-primary">Edit</button>
                <button class="btn btn-primary" *ngIf='post' (click)='deletePost()'>Delete</button>
            </div>
            <div class="col-md-12" *ngIf='post && editPostStatus==false' >
                <div class="singleDiv"><h4>Id:</h4><h5>{{post.id}}</h5></div>
                <div class="singleDiv"><h4>Title:</h4><h5>{{post.title}}</h5></div>
                <div class="singleDiv"><h4>Body:</h4><h5>{{post.body}}</h5></div>
            
            </div> 
            <h4 *ngIf='!post && editPostStatus==false' class="nopost">No post selected</h4>
            <div class="col-md-8" *ngIf='editPostStatus'>
            
                <form (submit)="postAddEdit()" [formGroup]="postForm">
                    <div class="form-group">
                        <label class="form-control-label">Title</label>
                        <input formControlName='title'  type="text" class="form-control input">
                        <div *ngIf="submitted && f.title.errors">
                            <div *ngIf="f.title.errors.required" class="errors">
                                title is required
                            </div>
                        </div>
                        <input type='hidden' formControlName='id'>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Body</label>
                        <textarea formControlName='body' class="form-control input"></textarea>
                        <div *ngIf="submitted && f.body.errors">
                            <div *ngIf="f.body.errors.required" class="errors">
                                body is required
                            </div>
                        </div>
                    </div>
                    <div class=" login-btm login-button">
                                            
                        <button type="submit" class="btn btn-outline-primary log-in-btn">submit</button>
                    </div>
                </form>
            </div>
    </div> <!-- /.row -->
</div> 
