<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
     
	  <ul class="nav navbar-nav navbar-right">
      <ng-container *ngIf='!user'>
         <li><a [routerLink]='["/login"]' class="btn btn-primary log-in-btn">LogIn</a></li>
        <li><a [routerLink]='["/registration"]'  class="btn btn-primary sign-up-btn">Sign Up</a></li>
      </ng-container>
      <ng-container *ngIf='user'>
        <li><a   class="btn btn-primary sign-up-btn">Welcome :  {{this.user}}</a></li>
        <li (click)='logout()'><a class="btn btn-primary sign-up-btn">Logout</a></li>
      </ng-container>
      </ul>
    </div>
  </div>
</nav>
