<app-header></app-header>
    <div class="container">
        <div class="row text-center">
            <div class="loginMain">
            <div class="login-box">
                
                <h4 *ngIf='message' [ngClass]='message=="Login Successfull" ? "success" : "errors" '>{{message}}</h4>
                <div class="col-lg-12 login-title">
                    Login Form
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form (submit)="login()" [formGroup]="loginForm">
                            <div class="form-group">
                                <label class="form-control-label">EMAIL</label>
                                <input formControlName="email" type="text" class="form-control input">
                                <div *ngIf="submitted && f.email.errors">
                                    <div *ngIf="f.email.errors.required" class="errors">
                                        email is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">PASSWORD</label>
                                <input formControlName="password"  type="password" class="form-control input" >
                                <div *ngIf="submitted && f.password.errors" class="errors">
                                    <div *ngIf="f.password.errors.required">
                                      Password is required
                                    </div>
                                  </div>
                                 
                            </div>
                            <div class="form-group">
                                <label class="checkbox">
                                    <input type="checkbox" formControlName='rememberMe' value="remember-me" id="rememberMe" name="rememberMe"> Remember me
                                </label>
                                <div class="login-button">
                                    <button type="submit" class="btn btn-outline-primary log-in-btn">LOGIN</button>
                                </div>
                            </div>
                            <!-- <div class="form-group loginbttm">
                                <div class="col-lg-12 login-btm login-text">
                                    <!-- Error Message --
                                </div>
                                
                            </div> -->
                        </form>
                    </div>
                </div>
        
            </div>
        </div>
        </div>
    </div>




