<app-header></app-header>
    <div class="container">
        <div class="row">
            <div class="loginMain">
            <div class="col-lg-6 col-md-8 login-box">
                <!-- <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div> -->
                <h4 *ngIf='message' [ngClass]='message=="You have register successfully" ? "success" : "errors" '>{{message}}</h4>
                <div class="col-lg-12 login-title">
                    Registration Form
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form (submit)="login()" [formGroup]="registerForm">
                            <div class="form-group">
                                <label class="form-control-label">NAME</label>
                                <input formControlName="name" type="text" class="form-control input">
                                <div *ngIf="submitted && f.name.errors">
                                    <div *ngIf="f.name.errors.required" class="errors">
                                        Name is required
                                    </div>
                                  </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">EMAIL</label>
                                <input formControlName="email" type="text" class="form-control input">
                                <div *ngIf="submitted && f.email.errors">
                                    <div *ngIf="f.email.errors.required" class="errors">
                                        email is required
                                    </div>
                                    <div *ngIf="f.email.errors.email" class="errors">
                                        Please enter valid email
                                    </div>
                                  </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">PASSWORD</label>
                                <input formControlName="password"  type="password" class="form-control input" >
                                <div *ngIf="submitted && f.password.errors" class="errors">
                                    <div *ngIf="f.password.errors.required">
                                      Password is required
                                    </div>
                                    <div *ngIf="f.password.errors.minlength">
                                        Password must have at least 8 
                                      </div>
                                  </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">CONFIRM PASSWORD</label>
                                <input formControlName="cpassword"  type="password" class="form-control input" >
                                <div *ngIf="submitted && f.cpassword.errors" class="errors">
                                    <div *ngIf="f.cpassword.errors.required">
                                    Confirm password required
                                    </div>
                                  </div>
                                  <p class="errors" *ngIf="f.cpassword.valid && f.password.value != f.cpassword.value"> Confirmation password and Password should be matched is required</p>
                            </div>
                            <div class="form-group">
                            <label class="checkbox">
                              <input type="checkbox" formControlName='accepttnc' name="rememberMe">  Accept Terms & Conditions
                                <div class="errors" *ngIf="submitted && f.accepttnc.errors">
                                   reuired
                                </div></label>
                                <div class="login-button">
                                    
                                    <button type="submit" class="btn btn-outline-primary log-in-btn">Register</button>
                                </div>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>  
        </div>
        </div>




